/*Fonts and Colours*/

body {
  background: #D8D2E1;
  color: rgb(20,20,20);
  font-family: 'Open Sans', sans-serif;
  margin: 0px;

}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  color: #FD1014;
}

h2 {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: green;
}

a:hover {
  text-decoration: none;
  color: red;
}

/*Custom Design
*/

#banner {
  background-image: url("https://source.unsplash.com/random");
  background-size: cover;
  padding: 150px 0px;
  text-align: center;
  color: white;
}

#banner h1 {
  color: white;
  font-size: 50px;
  text-shadow: 0.3px 0.3px 0.3px grey;
}
#banner p {
  font-size: 30px;
  font-weight: lighter;
}

.section {
  padding: 50px;
  text-align: center;
  font-weight: lighter;
}

#footer {
  background: #0E0000;
  color: lightgrey;
  font-size: 20px;
  padding: 50px;
}






















